@font-face {
    font-family: "Raleway";
    src: url("Fonts/Raleway-VariableFont_wght.ttf");
    font-family: "Raleway_Italic";
    src: url("Fonts/Raleway-Italic-VariableFont_wght.ttf");
    font-weight: 400;
  }

.logoImg{
  height: 24px;
  width: auto;
}

h1{
  font-family: 'Raleway';
  margin: 8px;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 0 160px 0 160px;
  color: white;
    width: 100%;
  background-color: rgb(31, 48, 74);
}

.main_section{
  background-color: rgb(18, 33, 57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}